In [1]:
import pandas as pd
from datetime import datetime
from dateutil.parser import parse

In [2]:
collection_slug="doodles-official" # [pudgypenguins,chimpersnft,doodles-official]
collection_event_data_pth=f"./data/{collection_slug}/collection_event_data.csv"
collection_event_data=pd.read_csv(collection_event_data_pth)
collection_event_data['event_timestamp_iso'] = collection_event_data['event_timestamp_iso'].str.replace('Z', '')
collection_event_data['event_timestamp_iso'] = pd.to_datetime(collection_event_data['event_timestamp_iso'])
collection_event_data

,collection_slug,identifier,event_type,order_hash,chain,protocol_address,closing_date,closing_date_iso,quantity,seller,buyer,payment_quantity,payment_token,payment_decimals,payment_symbol,payment_symbol_amount,transaction_hash,event_timestamp,event_timestamp_iso
0,doodles-official,0,sale,NaN,ethereum,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,1634663005,2021-10-19T17:03:25+00:00Z,1,0xeff53613068a15a6845943e447fca03936c283c8,0xad097fdcd58535250c59807d6683e0a6b688d6cc,10000000000000000000,0x0000000000000000000000000000000000000000,18,ETH,10.0000,0x663e8b5d7bd8871fba2b1fc969de039c0169e6e29222...,1634663005,2021-10-19 17:03:25+00:00
1,doodles-official,0,sale,NaN,ethereum,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,1634476925,2021-10-17T13:22:05+00:00Z,1,0x47024c554fac0863391dfa6fc36deda9e31c70cf,0xeff53613068a15a6845943e447fca03936c283c8,5000000000000000000,0x0000000000000000000000000000000000000000,18,ETH,5.0000,0xe3f31ec4f8404901c0c09a7bc2c49d1a3003bc0d5477...,1634476925,2021-10-17 13:22:05+00:00
2,doodles-official,1,sale,NaN,ethereum,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,1636782106,2021-11-13T05:41:46+00:00Z,1,0x8b078d0cc0f3b67f18c0877cc20519b04a427abe,0x407898b364cd540fa83f8fcfcf591270cd4fa76a,10000000000000000000,0x0000000000000000000000000000000000000000,18,ETH,10.0000,0xc158d7cf1d459dc043dd3752eb1079a9d8d799b7b9f1...,1636782106,2021-11-13 05:41:46+00:00
3,doodles-official,1,sale,NaN,ethereum,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,1634476623,2021-10-17T13:17:03+00:00Z,1,0x47024c554fac0863391dfa6fc36deda9e31c70cf,0x8b078d0cc0f3b67f18c0877cc20519b04a427abe,1990000000000000000,0x0000000000000000000000000000000000000000,18,ETH,1.9900,0xdd59aceac3a12ffefb4f6d9c12823846f56070bd58be...,1634476623,2021-10-17 13:17:03+00:00
4,doodles-official,2,sale,NaN,ethereum,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,1645223264,2022-02-18T22:27:44+00:00Z,1,0xcaf5ad200387579912549b499326d3f536aa406f,0xab3e223534a10ba14f5abb51577f30c2a1ccb9f7,22220000000000000000,0x0000000000000000000000000000000000000000,18,ETH,22.2200,0x0782a1158f1b46d02bd49ad07a8d8f623007c45f9975...,1645223264,2022-02-18 22:27:44+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81286,doodles-official,9998,sale,NaN,ethereum,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,1638547415,2021-12-03T16:03:35+00:00Z,1,0x0ecbba0ccb440e0d396456bacdb3ce2a716b96e5,0x9b92142bc7080e88adeabaf093608f1701210486,2590000000000000000,0x0000000000000000000000000000000000000000,18,ETH,2.5900,0xa6ef52d64f2cef57d928663c400b88e2275e919b5652...,1638547415,2021-12-03 16:03:35+00:00
81287,doodles-official,9998,sale,NaN,ethereum,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,1638516825,2021-12-03T07:33:45+00:00Z,1,0x678644e1cd87626d4dc84e7940a7bb558f35d497,0x0ecbba0ccb440e0d396456bacdb3ce2a716b96e5,1932099999999999700,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH,1.9321,0xc63dc516ed16d424e754fd82caeaaac3c902c8bd0d16...,1638516825,2021-12-03 07:33:45+00:00
81288,doodles-official,9998,sale,NaN,ethereum,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,1637188171,2021-11-17T22:29:31+00:00Z,1,0xb6f904c71d25c484e7f70f17ff9b9b2b2465d59e,0x678644e1cd87626d4dc84e7940a7bb558f35d497,3190000000000000000,0x0000000000000000000000000000000000000000,18,ETH,3.1900,0x070e064b3265c4224217864b7e32d76ca2099c989a16...,1637188171,2021-11-17 22:29:31+00:00
81289,doodles-official,9999,sale,0x6c53a11698d2aa8f02bff55808fc3146faa72b476bfe...,ethereum,0x00000000000001ad428e4906ae43d8f9852d0dd6,1681298087,2023-04-12T11:14:47+00:00Z,1,0x4301b45f31bf7b511859c6be04bcef2c5100a112,0x186980d30a5b7ee4b81114beff6351c94bc332f8,2689000000000000000,0x0000000000000000000000000000000000000000,18,ETH,2.6890,0xd06e5fe449fc7d27fdcf8e7aaab6b25a38f8ad828ef3...,1681298087,2023-04-12 11:14:47+00:00
81290,doodles-official,9999,sale,NaN,ethereum,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,1634688000,2021-10-20T00:00:00+00:00Z,1,0xb6f904c71d25c484e7f70f17ff9b9b2b2465d59e,0x4301b45f31bf7b511859c6be04bcef2c5100a112,979000000000000000,0x0000000000000000000000000000000000000000,18,ETH,0.9790,0x8730bed59d2310b4aef2587000e804cecb6aaa4e8c8a...,1634688000,2021-10-20 00:00:00+00:00

In [3]:
prediction_start = parse('2025-04-01T00:00:00+00:00')
prediction_end = parse('2025-04-30T23:59:59+00:00')
# prediction_start = parse('2025-04-15T00:00:00+00:00')
# prediction_end = parse('2025-04-30T23:59:59+00:00')

historical_start_6m = parse('2024-10-01T00:00:00+00:00')
historical_end = parse('2025-03-31T23:59:59+00:00')

historical_start_3m = parse('2025-01-01T00:00:00+00:00')
historical_start_1m = parse('2025-03-01T00:00:00+00:00')
historical_start_all = parse('1919-03-01T00:00:00+00:00')
historical_start_12m = parse('2024-04-01T00:00:00+00:00')

prediction_transactions = collection_event_data[
    (collection_event_data['event_timestamp_iso'] >= prediction_start) & 
    (collection_event_data['event_timestamp_iso'] <= prediction_end)
]
prediction_transactions

,collection_slug,identifier,event_type,order_hash,chain,protocol_address,closing_date,closing_date_iso,quantity,seller,buyer,payment_quantity,payment_token,payment_decimals,payment_symbol,payment_symbol_amount,transaction_hash,event_timestamp,event_timestamp_iso
19,doodles-official,7,sale,NaN,ethereum,NaN,1745686031,2025-04-26T16:47:11+00:00Z,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x1ea27bce786a81022dfc156059771e8d3279a9a6,3010000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH,3.010000,0xf0804653660110573d6f9b2e4ceda28a6d19c172adf3...,1745686031,2025-04-26 16:47:11+00:00
20,doodles-official,7,sale,NaN,ethereum,NaN,1745075159,2025-04-19T15:05:59+00:00Z,1,0x5b0668500e8add7a110920ff8cfe42edc67ce2dd,0x29469395eaf6f95920e59f858042f0e28d98a20b,3000000000000000000,0x0000000000000000000000000000000000000000,18,ETH,3.000000,0xe949f361e89ee3d7c873d8885ac63fb5286e8947c390...,1745075159,2025-04-19 15:05:59+00:00
167,doodles-official,36,sale,NaN,ethereum,NaN,1744893323,2025-04-17T12:35:23+00:00Z,1,0x321d79d82a9729f237bdc8f303eb747d6b2586e1,0xe25b9dece3eb1f987db8b59ffe93fc82e114d859,2899998800000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH,2.899999,0x282dd1f4353e726cd30d90cd4625c19ceddce2e0bb9d...,1744893323,2025-04-17 12:35:23+00:00
168,doodles-official,36,sale,NaN,ethereum,NaN,1744544039,2025-04-13T11:33:59+00:00Z,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x321d79d82a9729f237bdc8f303eb747d6b2586e1,2850000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH,2.850000,0x467ee63bc8ef386534aeb89e4c90c149ff2723095bd5...,1744544039,2025-04-13 11:33:59+00:00
169,doodles-official,36,sale,NaN,ethereum,NaN,1744185287,2025-04-09T07:54:47+00:00Z,1,0x83992715187fe3918be073ab7da50926eb3dbf9d,0x08476da7fa9f54c8e931a4ab185d18f2caa76b4b,2560000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH,2.560000,0x129b33735819de46ad25bc8462f76e675e64248a80ed...,1744185287,2025-04-09 07:54:47+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80137,doodles-official,9853,sale,NaN,ethereum,NaN,1743568931,2025-04-02T04:42:11+00:00Z,1,0xa82801ddf9f5b974085e0450bebdd95365f5c3ab,0x08a48da94fa0cbe6e7eecc8a806bc8cecbdd4653,3050000000000000000,0x0000000000000000000000000000000000000000,18,ETH,3.050000,0xdfb1cf8fe076136cc04d4770d18e915fb48755dc33bf...,1743568931,2025-04-02 04:42:11+00:00
80138,doodles-official,9853,sale,NaN,ethereum,NaN,1743542147,2025-04-01T21:15:47+00:00Z,1,0x37ae6205bb26ddd0affe0a5dcdd01698764cf0a0,0xa82801ddf9f5b974085e0450bebdd95365f5c3ab,2960000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH,2.960000,0xe1832c7945adb28523b3da13b66a9659b474d65707b1...,1743542147,2025-04-01 21:15:47+00:00
80360,doodles-official,9878,sale,NaN,ethereum,NaN,1745651195,2025-04-26T07:06:35+00:00Z,1,0x5b0668500e8add7a110920ff8cfe42edc67ce2dd,0x29469395eaf6f95920e59f858042f0e28d98a20b,3000000000000000000,0x0000000000000000000000000000000000000000,18,ETH,3.000000,0x6d9c97aee99bcb44ca551a1e90843187ebbc52b9efb5...,1745651195,2025-04-26 07:06:35+00:00
81017,doodles-official,9954,sale,0x7a794904c3962324ade2df9085e1d8440f0acda29791...,ethereum,0x0000000000000068f116a894984e2db1123eb395,1743480275,2025-04-01T04:04:35+00:00Z,1,0xe26e2ec8b6d8189ea0d2959002c6315c1e3c1244,0xed9d8181519ea319bba78831ec5b1260aff122a2,2950000000000000000,0x0000000000000000000000000000000000000000,18,ETH,2.950000,0x31add1c13bdec7ab8fd6d003f0bb562417204ef041e3...,1743480275,2025-04-01 04:04:35+00:00
81124,doodles-official,9970,sale,0x4a13c32d9266e576940ae136b265096d57e9ff4bd6a7...,ethereum,0x0000000000000068f116a894984e2db1123eb395,1743898931,2025-04-06T00:22:11+00:00Z,1,0xe4855ea1e26865247d412c0891184b535e2fb849,0x6799eb21fd024c3546c8a2e17650df4f3bfc327c,2800000000000000000,0x0000000000000000000000000000000000000000,18,ETH,2.800000,0x19871c626233b25a3f6958591284f5cd29a07bb05383...,1743898931,2025-04-06 00:22:11+00:00

In [4]:
active_nfts = prediction_transactions['identifier'].unique()
print(f"active NFT number: {len(active_nfts)}")
active_nfts

active NFT number: 328

array([   7,   36,   63,   78,  122,  125,  145,  244,  283,  348,  440,
        511,  517,  560,  678,  691,  695,  703,  705,  770,  775,  831,
        870, 1012, 1055, 1089, 1125, 1134, 1178, 1210, 1225, 1233, 1235,
       1249, 1252, 1284, 1291, 1296, 1320, 1340, 1378, 1402, 1422, 1423,
       1426, 1442, 1457, 1482, 1493, 1547, 1565, 1589, 1637, 1655, 1681,
       1688, 1722, 1749, 1822, 1824, 1842, 1863, 1890, 1903, 1974, 1982,
       1987, 2021, 2046, 2104, 2147, 2152, 2198, 2223, 2234, 2321, 2370,
       2383, 2419, 2420, 2471, 2486, 2578, 2670, 2699, 2816, 2868, 2972,
       2981, 3066, 3074, 3086, 3144, 3203, 3206, 3230, 3236, 3266, 3341,
       3379, 3396, 3405, 3415, 3511, 3514, 3543, 3689, 3757, 3760, 3819,
       3874, 3931, 3937, 4029, 4037, 4092, 4102, 4109, 4110, 4289, 4295,
       4307, 4309, 4343, 4349, 4378, 4412, 4446, 4455, 4464, 4469, 4521,
       4622, 4682, 4694, 4711, 4763, 4793, 4802, 4824, 4847, 4874, 4876,
       4913, 4915, 4951, 4968, 5030, 5061, 5070, 5131, 5197, 5209, 5225,
       5282, 5300, 5344, 5416, 5476, 5496, 5520, 5526, 5541, 5553, 5560,
       5585, 5601, 5609, 5613, 5616, 5617, 5618, 5625, 5654, 5655, 5656,
       5657, 5659, 5661, 5662, 5664, 5667, 5668, 5677, 5708, 5740, 5741,
       5782, 5806, 5836, 5852, 5901, 5929, 5931, 5964, 5983, 6005, 6024,
       6030, 6040, 6043, 6049, 6068, 6071, 6124, 6147, 6154, 6161, 6203,
       6222, 6225, 6292, 6308, 6311, 6342, 6381, 6467, 6531, 6545, 6590,
       6603, 6668, 6688, 6701, 6708, 6710, 6719, 6736, 6773, 6787, 6818,
       6841, 6909, 6946, 6987, 7022, 7080, 7157, 7175, 7203, 7204, 7208,
       7210, 7222, 7332, 7338, 7358, 7409, 7475, 7476, 7505, 7562, 7588,
       7601, 7607, 7632, 7642, 7665, 7667, 7715, 7731, 7732, 7752, 7759,
       7779, 7831, 7841, 7878, 7892, 7925, 8039, 8060, 8077, 8085, 8189,
       8206, 8242, 8244, 8260, 8286, 8288, 8315, 8317, 8320, 8403, 8458,
       8510, 8536, 8537, 8641, 8644, 8710, 8722, 8760, 8763, 8985, 9035,
       9039, 9076, 9081, 9172, 9191, 9248, 9403, 9406, 9445, 9446, 9452,
       9488, 9517, 9522, 9559, 9562, 9564, 9592, 9619, 9621, 9664, 9681,
       9749, 9752, 9753, 9794, 9819, 9853, 9878, 9954, 9970])

In [5]:
def get_transaction_stats(nft_id, df):
    nft_transactions = df[df['identifier'] == nft_id]
    
    # prediction period(2025-04)
    pred_count = nft_transactions[
        (nft_transactions['event_timestamp_iso'] >= prediction_start) & 
        (nft_transactions['event_timestamp_iso'] <= prediction_end)
    ].shape[0]
    
    # historical period(2024-04-2025-03)
    hist_count_12m = nft_transactions[
        (nft_transactions['event_timestamp_iso'] >= historical_start_12m) & 
        (nft_transactions['event_timestamp_iso'] <= historical_end)
    ].shape[0]
    
    # historical period(2024-10-2025-03)
    hist_count_6m = nft_transactions[
        (nft_transactions['event_timestamp_iso'] >= historical_start_6m) & 
        (nft_transactions['event_timestamp_iso'] <= historical_end)
    ].shape[0]
    
    # historical period(2024-01-2025-03)
    hist_count_3m = nft_transactions[
        (nft_transactions['event_timestamp_iso'] >= historical_start_3m) & 
        (nft_transactions['event_timestamp_iso'] <= historical_end)
    ].shape[0]
    
    # historical period(2024-03-2025-03)
    hist_count_1m = nft_transactions[
        (nft_transactions['event_timestamp_iso'] >= historical_start_1m) & 
        (nft_transactions['event_timestamp_iso'] <= historical_end)
    ].shape[0]
    
    # all transactions
    total_count = nft_transactions.shape[0]
    
    return pd.Series({
        'prediction_period_count': pred_count,
        'historical_period_count_12m': hist_count_12m,
        'historical_period_count_6m': hist_count_6m,
        'historical_period_count_3m': hist_count_3m,
        'historical_period_count_1m': hist_count_1m,
        'total_count': total_count
    })

In [6]:
stats_df = pd.DataFrame(index=active_nfts)
stats_df = stats_df.join(
    stats_df.index.to_series().apply(
        lambda x: get_transaction_stats(x, collection_event_data)
    )
)
stats_df.reset_index(inplace=True)
stats_df.rename(columns={'index': 'identifier'}, inplace=True)
stats_df

,identifier,prediction_period_count,historical_period_count_12m,historical_period_count_6m,historical_period_count_3m,historical_period_count_1m,total_count
0,7,2,2,2,0,0,16
1,36,3,2,2,0,0,31
2,63,1,2,2,2,2,26
3,78,1,0,0,0,0,4
4,122,3,1,1,1,1,50
...,...,...,...,...,...,...,...
323,9819,1,0,0,0,0,6
324,9853,2,5,5,3,0,15
325,9878,1,8,8,0,0,46
326,9954,1,24,24,24,0,36
327,9970,1,0,0,0,0,2

In [ ]:
# pudgypenguins - 55
dataset_df=stats_df[(stats_df['prediction_period_count'] > 0) &(stats_df['prediction_period_count'] < 10)& (stats_df['historical_period_count_6m'] > 2)& (stats_df['historical_period_count_1m'] > 0)]
print(len(dataset_df))
dataset_df

16

,identifier,prediction_period_count,historical_period_count_12m,historical_period_count_6m,historical_period_count_3m,historical_period_count_1m,total_count
5,296,1,3,3,3,3,4
9,511,2,9,9,3,3,22
23,989,4,4,2,2,2,11
45,1992,1,7,7,7,5,8
52,2140,1,16,16,11,7,25
63,2680,4,11,6,6,6,16
64,2681,1,6,2,1,1,7
65,2683,2,18,7,7,3,20
67,2701,1,7,7,3,3,14
77,3148,2,3,3,1,1,5
112,4193,1,2,2,2,1,3
114,4472,1,3,3,1,1,6
115,4505,1,2,2,2,2,4
123,4770,1,5,5,4,3,15
130,5273,2,6,6,6,6,8
135,5538,1,5,5,5,5,8

In [88]:
# chimpersnft - 12
dataset_df=stats_df[(stats_df['prediction_period_count'] > 0) &(stats_df['prediction_period_count'] < 10)& (stats_df['historical_period_count_6m'] > 2)& (stats_df['historical_period_count_1m'] > 0)]
print(len(dataset_df))
dataset_df

12

,identifier,prediction_period_count,historical_period_count_12m,historical_period_count_6m,historical_period_count_3m,historical_period_count_1m,total_count
5,296,1,3,3,3,3,4
9,511,2,9,9,3,3,22
45,1992,1,7,7,7,5,8
52,2140,1,16,16,11,7,25
63,2680,4,11,6,6,6,16
65,2683,2,18,7,7,3,20
67,2701,1,7,7,3,3,14
77,3148,2,3,3,1,1,5
114,4472,1,3,3,1,1,6
123,4770,1,5,5,4,3,15
130,5273,2,6,6,6,6,8
135,5538,1,5,5,5,5,8

In [7]:
# doodles-official - 61
dataset_df=stats_df[(stats_df['prediction_period_count'] > 0) &(stats_df['prediction_period_count'] < 10)& (stats_df['historical_period_count_6m'] > 2)& (stats_df['historical_period_count_1m'] > 0)]
print(len(dataset_df))
dataset_df

61

,identifier,prediction_period_count,historical_period_count_12m,historical_period_count_6m,historical_period_count_3m,historical_period_count_1m,total_count
23,1012,4,9,9,7,6,20
29,1210,1,5,5,1,1,6
32,1235,7,22,10,10,7,32
34,1252,6,23,21,17,2,46
35,1284,3,7,7,2,2,12
...,...,...,...,...,...,...,...
294,8763,1,3,3,2,2,13
299,9081,1,4,4,4,4,11
310,9522,3,3,3,3,3,10
312,9562,2,4,4,3,2,12
313,9564,3,8,8,4,1,14

In [9]:
dataset_df.to_csv(f"./data/{collection_slug}/dataset/dataset_stats.csv", index=False)

dataset_identifier_ls=dataset_df['identifier'].tolist()

# prediction_start = parse('2025-04-01T00:00:00+00:00')
# prediction_end = parse('2025-04-30T23:59:59+00:00')
# # prediction_start = parse('2025-04-15T00:00:00+00:00')
# # prediction_end = parse('2025-04-30T23:59:59+00:00')

# historical_start_6m = parse('2024-10-01T00:00:00+00:00')
# historical_end = parse('2025-03-31T23:59:59+00:00')

# historical_start_3m = parse('2025-01-01T00:00:00+00:00')
# historical_start_1m = parse('2025-03-01T00:00:00+00:00')

dataset_prediction_transactions = collection_event_data[
    (collection_event_data['event_timestamp_iso'] >= prediction_start) & 
    (collection_event_data['event_timestamp_iso'] <= prediction_end) &
    (collection_event_data['identifier'].isin(dataset_identifier_ls))
]
dataset_prediction_transactions.to_csv(f"./data/{collection_slug}/dataset/dataset_prediction_transactions.csv", index=False)

datset_historical_transactions_1m = collection_event_data[
    (collection_event_data['event_timestamp_iso'] >= historical_start_1m) & 
    (collection_event_data['event_timestamp_iso'] <= historical_end) &
    (collection_event_data['identifier'].isin(dataset_identifier_ls))
]
datset_historical_transactions_1m.to_csv(f"./data/{collection_slug}/dataset/dataset_historical_transactions_1m.csv", index=False)
dataset_historical_transactions_3m = collection_event_data[
    (collection_event_data['event_timestamp_iso'] >= historical_start_3m) & 
    (collection_event_data['event_timestamp_iso'] <= historical_end) &
    (collection_event_data['identifier'].isin(dataset_identifier_ls))
]
dataset_historical_transactions_3m.to_csv(f"./data/{collection_slug}/dataset/dataset_historical_transactions_3m.csv", index=False)
dataset_historical_transactions_6m = collection_event_data[
    (collection_event_data['event_timestamp_iso'] >= historical_start_6m) & 
    (collection_event_data['event_timestamp_iso'] <= historical_end) &
    (collection_event_data['identifier'].isin(dataset_identifier_ls))
]
dataset_historical_transactions_6m.to_csv(f"./data/{collection_slug}/dataset/dataset_historical_transactions_6m.csv", index=False)

In [11]:
collection_event_data_date_pth=f"./data/{collection_slug}/collection_event_data_date.csv"
# date,floor_price_eth,floor_7d_avg,total_volume,trade_count,volume_7d_avg,trade_7d_avg
collection_event_data_date=pd.read_csv(collection_event_data_date_pth)

collection_historical_transactions_1m = collection_event_data_date[
    (collection_event_data_date['date'] >= historical_start_1m.strftime('%Y-%m-%d')) & 
    (collection_event_data_date['date'] <= historical_end.strftime('%Y-%m-%d'))
]
collection_historical_transactions_1m.to_csv(f"./data/{collection_slug}/dataset/collection_historical_transactions_1m.csv", index=False)
collection_historical_transactions_3m = collection_event_data_date[
    (collection_event_data_date['date'] >= historical_start_3m.strftime('%Y-%m-%d')) & 
    (collection_event_data_date['date'] <= historical_end.strftime('%Y-%m-%d'))
]
collection_historical_transactions_3m.to_csv(f"./data/{collection_slug}/dataset/collection_historical_transactions_3m.csv", index=False)    
collection_historical_transactions_6m = collection_event_data_date[
    (collection_event_data_date['date'] >= historical_start_6m.strftime('%Y-%m-%d')) & 
    (collection_event_data_date['date'] <= historical_end.strftime('%Y-%m-%d'))
]
collection_historical_transactions_6m.to_csv(f"./data/{collection_slug}/dataset/collection_historical_transactions_6m.csv", index=False)
collection_prediction_transactions = collection_event_data_date[
    (collection_event_data_date['date'] >= prediction_start.strftime('%Y-%m-%d')) & 
    (collection_event_data_date['date'] <= prediction_end.strftime('%Y-%m-%d'))
]
collection_prediction_transactions.to_csv(f"./data/{collection_slug}/dataset/collection_prediction_transactions.csv", index=False)

In [12]:
## save all trading data for dataset
datset_historical_transactions_all = collection_event_data[
    (collection_event_data['event_timestamp_iso'] >= historical_start_all) & 
    (collection_event_data['event_timestamp_iso'] <= historical_end) &
    (collection_event_data['identifier'].isin(dataset_identifier_ls))
]
datset_historical_transactions_all.to_csv(f"./data/{collection_slug}/dataset/dataset_historical_transactions_all.csv", index=False)

collection_historical_transactions_all = collection_event_data_date[
    (collection_event_data_date['date'] >= historical_start_all.strftime('%Y-%m-%d')) & 
    (collection_event_data_date['date'] <= historical_end.strftime('%Y-%m-%d'))
]
collection_historical_transactions_all.to_csv(f"./data/{collection_slug}/dataset/collection_historical_transactions_all.csv", index=False)